/*
 _    _  ___________ _   __  _____  _   _ ___________ _   _ _____ _____ _    _ 
| |  | ||  _  | ___ \ | / / |  _  || | | |  ___| ___ \ | | |_   _|  ___| |  | |
| |  | || | | | |_/ / |/ /  | | | || | | | |__ | |_/ / | | | | | | |__ | |  | |
| |/\| || | | |    /|    \  | | | || | | |  __||    /| | | | | | |  __|| |/\| |
\  /\  /\ \_/ / |\ \| |\  \ \ \_/ /\ \_/ / |___| |\ \\ \_/ /_| |_| |___\  /\  /
 \/  \/  \___/\_| \_\_| \_/  \___/  \___/\____/\_| \_|\___/ \___/\____/ \/  \/ 
                                                                                                    
*/

.about-us-computer {
  position: relative;
  
}

#work-overview {
  .intro-container {
    padding: 120px 10px;
  }

  .work-container {
    padding-top: 50px;
    position: relative;
    color: $white;
    border-bottom: 1px solid #F4F4F4;
    background-color: #ffffff;
    @include filter-gradient(#ffffff, #f9f9f9, vertical);
    @include background-image(linear-gradient(top,  #ffffff 0%,#f9f9f9 100%));

    &.middle {
      padding-top: 180px;
    }

    .work-block {
      margin-top: 20px;

      @media screen and (min-width: $bp-md) {
        margin-top: 30px;
      }

      .button-container {
        margin-top: 16px;

        .button {
          border-radius: 3px;
          border: 1px solid;
          padding: 10px;
          float: left;

          &.left {
            margin-right: 10px;
          }

          &:hover {
            background-color: $dark-gray;
            color: $white;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
    }
    .company {
      text-transform: uppercase;
      font-size: 11px;
      letter-spacing: .16em;
      margin-bottom: 4px;
    }

    .work-name {
      font-size: 40px;
    }

    .work-done {
      padding-top: 8px;
      font-style: italic;
    }

    .intro {
      padding-top: 20px;
    }
  }
}
