/*
 _    _  ___________ _   __  _____  _   _ ___________ _   _ _____ _____ _    _ 
| |  | ||  _  | ___ \ | / / |  _  || | | |  ___| ___ \ | | |_   _|  ___| |  | |
| |  | || | | | |_/ / |/ /  | | | || | | | |__ | |_/ / | | | | | | |__ | |  | |
| |/\| || | | |    /|    \  | | | || | | |  __||    /| | | | | | |  __|| |/\| |
\  /\  /\ \_/ / |\ \| |\  \ \ \_/ /\ \_/ / |___| |\ \\ \_/ /_| |_| |___\  /\  /
 \/  \/  \___/\_| \_\_| \_/  \___/  \___/\____/\_| \_|\___/ \___/\____/ \/  \/ 
                                                                                                    
*/

#work-overview {
  overflow-x: hidden;

  .intro-container {
    padding: 120px 0;
  }

  .work-container {
    padding-top: 50px;
    position: relative;

    &.about-us {
      @extend %bg-about-us;
      z-index: 2;

      .about-us-bg {
        margin-bottom: -18px;
        position: relative;
        right: -40%;
      }
    }
    &.about-us2 {
      @extend %bg-about-us;
      z-index: 1;

      .about-us-bg {
        margin-bottom: -18px;
        position: relative;
        right: -40%;
      }
    }
  }
}
