/*
 _    _  ___________ _   __  _____  _   _ ___________ _   _ _____ _____ _    _ 
| |  | ||  _  | ___ \ | / / |  _  || | | |  ___| ___ \ | | |_   _|  ___| |  | |
| |  | || | | | |_/ / |/ /  | | | || | | | |__ | |_/ / | | | | | | |__ | |  | |
| |/\| || | | |    /|    \  | | | || | | |  __||    /| | | | | | |  __|| |/\| |
\  /\  /\ \_/ / |\ \| |\  \ \ \_/ /\ \_/ / |___| |\ \\ \_/ /_| |_| |___\  /\  /
 \/  \/  \___/\_| \_\_| \_/  \___/  \___/\____/\_| \_|\___/ \___/\____/ \/  \/ 
                                                                                                    
*/

#work-overview {
  .work-container {
    padding: 0;

    figure {
      padding: 0;
    }

    .work-image {
      overflow: hidden;
    }

    .desktop {
      max-width: 360px;
      margin: 0 auto;
      margin-top: 30px;
    }

    .device-md {
      position: absolute;
      width: 120px;
      left: 12%;
      visibility: hidden;
      bottom: 0;
      transition: width 0.5s;
      transition: left 0.5s;

      @media screen and (min-width: $bp-xs) {
        width: 150px;
        bottom: -3px;
      }

      @media screen and (min-width: $bp-xl) {
        width: 160px;
        bottom: -3px;
        left: -80px;
      }
    }

    .device-sm {
      position: absolute;
      right: 14%;
      width: 63px;
      visibility: hidden;
      bottom: 0;
      transition: width 0.5s;
      transition: right 0.5s;

      @media screen and (min-width: $bp-xs) {
        width: 80px;
        bottom: -3px;
      }

      @media screen and (min-width: $bp-xl) {
        width: 100px;
        bottom: -3px;
        right: 0;
      }
    }
  }

  figure {
    padding: 60px 30px 60px 30px;
    max-width: 500px;
    margin: 0 auto;

    @media screen and (min-width: $bp-xl) {
      margin: 0 20%;
    }
  }

  .bg-design-guide {
    .work-image {
      background: darken($design-guide, 10);
    }

    .btn-cta {
      background: lighten($blue, 10);
      color: $white;

      &:hover {
        background: darken($blue, 6);
      }
    }

    .btn-left {
      border-bottom: 1px solid darken($design-guide, 5);

      @media screen and (min-width: $bp-sm) {
        border-right: 1px solid darken($design-guide, 5);
      }
    }
  }

  .bg-bsd {
    .work-image {
      background: darken($bsd, 10);
    }

    .btn-cta {
      background: lighten($bsd, 10);
      color: $white;

      &:hover {
        background: darken($bsd, 6);
      }
    }

    .btn-left {
      border-bottom: 1px solid darken($bsd, 5);

      @media screen and (min-width: $bp-sm) {
        border-right: 1px solid darken($bsd, 5);
      }
    }
  }

  .bg-dgr {
    .work-image {
      background: darken($dgr, 10);
      min-height: 314px;
    }

    .work-description {
      padding-bottom: 42px;
    }

    figure {
      max-width: 320px;
      padding-top: 70px;

      @media screen and (min-width: $bp-sm) {
        max-width: 400px;
      }
    }

    .btn-cta {
      background: lighten($dgr, 10);
      color: $white;

      &:hover {
        background: darken($dgr, 6);
      }
    }

    .btn-left {
      border-bottom: 1px solid darken($dgr, 5);

      @media screen and (min-width: $bp-sm) {
        border-right: 1px solid darken($dgr, 5);
      }
    }
  }

  .bg-about-us {
    .work-image {
      background: darken($about-us, 10);
    }

    .work-description {
      @media screen and (max-width: $bp-md) {
        min-height: 160px;
      }
    }

    .btn-cta {
      background: lighten($about-us, 10);
      color: $white;

      &:hover {
        background: darken($about-us, 6);
      }
    }

    .btn-left {
      border-bottom: 1px solid darken($about-us, 5);

      @media screen and (min-width: $bp-sm) {
        border-right: 1px solid darken($about-us, 5);
      }
    }
  }

  .bg-iconography {
    .work-image {
      background: darken($iconography, 10);
    }
  }

  h1 {
    line-height: 25px;
    padding-bottom: 15px;
    font-size: 22px;
  }

  .work-description {
    min-height: 200px;
    position: relative;

    @media screen and (min-width: $bp-sm) {
      min-height: 170px;
    }

    .description-container {
      position: absolute;
      top: 36px;

      @media screen and (min-width: $bp-sm) {
        top: 30px;
      }
    }
  }

  p {
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 100;
  }
}

