/*
 _    _  ___________ _   __  _____  _   _ ___________ _   _ _____ _____ _    _ 
| |  | ||  _  | ___ \ | / / |  _  || | | |  ___| ___ \ | | |_   _|  ___| |  | |
| |  | || | | | |_/ / |/ /  | | | || | | | |__ | |_/ / | | | | | | |__ | |  | |
| |/\| || | | |    /|    \  | | | || | | |  __||    /| | | | | | |  __|| |/\| |
\  /\  /\ \_/ / |\ \| |\  \ \ \_/ /\ \_/ / |___| |\ \\ \_/ /_| |_| |___\  /\  /
 \/  \/  \___/\_| \_\_| \_/  \___/  \___/\____/\_| \_|\___/ \___/\____/ \/  \/ 
                                                                                                    
*/

#other-work {
  @extend #work-overview;

  .intro p {
    font-size: 30px;
    padding-bottom: 30px;
  }

  .work-container {
    overflow: hidden;
    padding: 0;
    min-height: 470px;

    figure {
      padding: 0;
    }

    .work-image {
      overflow: hidden;
      padding-top: 30px;
    }

    .desktop {
      max-width: 400px;

      @media screen and (min-width: $bp-xs) {
        margin-bottom: -3px;
      }
    }

    .device-md {
      position: absolute;
      width: 120px;
      left: 57px;
      visibility: hidden;
      bottom: 0;
      transition: width 0.5s;
      transition: left 0.5s;

      @media screen and (min-width: $bp-xs) {
        width: 150px;
        bottom: -3px;
      }

      @media screen and (min-width: $bp-xl) {
        width: 130px;
        bottom: -3px;
        left: -50px;
      }
    }

    .device-sm {
      position: absolute;
      right: 63px;
      width: 63px;
      visibility: hidden;
      bottom: 0;
      transition: width 0.5s;
      transition: right 0.5s;

      @media screen and (min-width: $bp-xs) {
        width: 80px;
        bottom: -3px;
      }

      @media screen and (min-width: $bp-xl) {
        width: 80px;
        bottom: -3px;
        right: -30px;
      }
    }
  }

  figure {
    padding: 60px 30px 60px 30px;
    max-width: 500px;
    margin: 0 auto;

    @media screen and (min-width: $bp-xl) {
      margin: 0 20%;
    }
  }

  .bg-design-guide {
    .work-image {
      background: darken($design-guide, 10);
    }
  }

  .bg-bsd {
    .work-image {
      background: darken($bsd, 10);
    }
  }

  .bg-dgr {
    .work-image {
      background: darken($dgr, 10);
    }
  }

  .bg-about-us {
    .work-image {
      background: darken($about-us, 10);
    }
  }

  .bg-iconography {
    .work-image {
      background: darken($iconography, 10);
    }
  }

  h1 {
    line-height: 25px;
    padding-bottom: 15px;
    font-size: 22px;
  }

  .work-description {
    padding-top: 30px;
  }

  p {
    padding-bottom: 15px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 100;
  }
}

