.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 8000;
  background: darken($dark-gray, 20);
  color: $white;
  text-align: center;
  font-size: 60px;
  line-height: 100px;
  top: 0;

  nav {
    a {
      width: 100%;
      display: block;
      padding: 20px 0 20px 0;
      @extend .no-underline;

      &:hover {
        background: $mint;
        border-radius: 8px;
        color: $white;
      }
    }
  }
}

.overlay-open {
  opacity: .75;
  visibility: visible;
}

.content-holder {
  margin-top: 20%;

  @media screen and (min-width: $bp-sm) {
    margin-top: 15%;
  }
}

.btn-close{
  top: 30px;
  right: 30px;
  position: absolute;
  width: 30px;
  cursor: pointer;
  height: 30px;
  display: block;
  @extend .no-underline;
}
