$lightest-gray: #eaeaea;
$lighter-gray: #c6c4c6;
$dark-gray: #2A3339;
$mint: #64CCA6;
$white: #ffffff;
$blue: #0d8ad6;

// Work Colors
$design-guide : #0d8ad6;
$design-guide-accent : #ade1ff;


$bsd : #6ccaea;

$dgr : #2c2e30;
$dgr-accent : #ecb64d;
$dgr-light : darken($white, 3);

$about-us : #224157;

$iconography : #29e2bf;

%bg-about-us {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#145493+0,105fa8+100 */
  background: #145493; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE0NTQ5MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxMDVmYTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #145493 0%, #105fa8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#145493), color-stop(100%,#105fa8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #145493 0%,#105fa8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #145493 0%,#105fa8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #145493 0%,#105fa8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #145493 0%,#105fa8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#145493', endColorstr='#105fa8',GradientType=0 ); /* IE6-8 */
}

// Background Classes
.bg-lighter-gray {
    background: $lighter-gray;
}

.bg-lightest-gray {
    background: $lightest-gray;
}

.bg-dark-gray {
    background: $dark-gray;
}

.bg-mint {
    background: $mint;
}

.bg-white {
    background: $white;
}

.bg-blue {
    background: $blue;
}

.bg-design-guide {
    background: $design-guide;
}

.bg-design-guide-accent {
    background: $design-guide-accent;
}

.bg-bsd {
    background: $bsd;
}

.bg-dgr {
    background: $dgr;
}

.bg-dgr-accent {
    background: $dgr-accent;
}

.bg-dgr-light {
    background: $dgr-light;
}


.bg-about-us {
    background: $about-us;
}

.bg-iconography {
    background: $iconography;
}




// Color classes
.lighter-gray {
    color: $lighter-gray;
}

.lightest-gray {
    color: $lightest-gray;
}

.dark-gray {
    color: $dark-gray;
}

.mint {
    color: $mint;
}

.white {
    color: $white;
}

.design-guide {
    color: $design-guide;
}

.design-guide-accent {
    color: $design-guide-accent;
}

.bsd {
    color: $bsd;
}

.dgr {
    color: $dgr;
}

.dgr-accent {
    color: $dgr-accent;
}

.dgr-light {
    color: $dgr-light;
}

.about-us {
    color: $about-us;
}

.iconography {
    color: $iconography;
}











