#project {
  .hero {
    h2 {
      font-size: 18px;
      color: lighten($dgr, 20);
    }

    h1 {
      font-size: 32px;
      line-height: 40px;
    }
  }

  .work-container {
    figure {
      width: 900px;
      margin: 0 auto;
    }

    @media screen and (min-width: $bp-sm) {
      padding: 0;
    }

    &.about-us {
      background: red;
      height: 800px;
    }
  }

  .content-container {
    max-width: 600px;
    margin: 0 auto;

    p {
      font-weight: 300;
      font-size: 18px;
      line-height: 28px;
      margin-bottom: 20px;

      @media screen and (min-width: $bp-sm) {
        font-size: 20px;
        line-height: 32px;
      }
    }  
  }
}

